<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <% if (signinMessage) { %>
  
        <div><%= signinMessage %></div>
            
        <% } %>

    <h2>ESTA ES LA PAGINA DE inicio de Sesion</h2>
    <form action = "/signin" method="POST">
        <input type="email" name="email" placeholder="Ingrese su Mail">
        <input type="password" name="password" placeholder="Ingrese su Contraseña">
        <button type="submit">Iniciar Sesion</button>
    </form>
</body>
</html>